# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# IDE settings
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Temporary files
*.log
*.tmp
samples/*_anonymized.dcm
samples/*.png
received/
